In [1]:
x = 5

In [5]:
x

5

In [3]:
nama = 'Rizky'

In [4]:
nama

'Rizky'

In [6]:
#mengganti nilai di dalam variabel 
nama = 'Muhammad'

In [7]:
nama

'Muhammad'

In [8]:
#Aturan dalam membuat nama variabel 
#Sebuah variabel harus dimulai dengan huruf atau karakter underscore
#Ada baiknya variabel tidak dimulai dengan angka
#Sebuah variabel terdiri atas karakter alpha-numeric dan unrscore (A-z, 0-9, dan _)

In [9]:
#Cotoh yang direkomendasikan
nama_pertama = 'A'
nama_2 = 'B'
_nama_ketiga = 'C'

In [10]:
print(nama_pertama)
print(nama_2)
print(_nama_ketiga)

A
B
C

In [11]:
#Nama variabel bersifat case-sensitive (nama, Nama, dan NAMA merupakan tiga variabel yang berbeda)

In [12]:
#Berikut ini 3 variabel yang berbeda
nama = 'Muhammad'
Nama = 'Rizky'
NAMA = 'MR'